<h1>Tubesock Chat</h1>
<pre id="output"></pre>
<form class="chat" id="chat">
  <input placeholder="hello world" autofocus>
</form>

<ul>
  <% @users.each do |user| %>
    <li class="<%= user.online? ? 'online' : '' %>" id="online-status-<%=user.id%>" >
      <%= user.email %>
    </li>
  <% end %>
</ul>
